{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django + Tailwind CSS + Flowbite</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

</head>

<body class="bg-green-50">

    <!-- Add this -->
  <div class="xCPtuxM4_gihvpPwv9bX wDF2ls8Apmy3KGiCbxI_ iHPddplqYvrN6qWgvntn _wYiJGbRZyFZeCc8y7Sf">
  <div class="_rqdzTLZuOhGujxvI_Bb wDMoPug_dIaVespzmfoA">
    <div class="UYOSZJ1_pv3B5nt1ujCP mveJTCIb2WII7J4sY22F _Ybd3WwuTVljUT4vEaM3 _wYiJGbRZyFZeCc8y7Sf mngKhi_Rv06PF57lblDI _1jTZ8KXRZul60S6czNi fxHa6TBGSS6mAGaGC7G6 LSIxp7RSuOKhsg28v_u3">
      <a href="https://flowbite.com" class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2">
        <img src="https://flowbite.com/application-ui/demo/images/logo.svg" class="R9nujHypnXyuHrBww9QK MnxxlQlR1H0xJuMEE8Yr KgdyMuwqI_PT3PtFFhjr" alt="Flowbite Logo">
        <span class="_rCfAafI7lqYALljdSxM BHrWGjM1Iab_fAz0_91H vyo_A8gnQD1QWDPglr3h yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE NdexIDe6BTJXjtSnppoV">Flowbite</span>
      </a>
      <div class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 sJNGKHxFYdN5Nzml5J2j EpUSgjHdM6oyMXUiK_8_ pVSXSlnJdgskzP7BxPBe tu2pET5XXEFdLYbAVwZL _9igzqn_6D3Qq5Hcwkfk _fGhMnSfYmaGrv7DvZ00">
        <h1 class="vyo_A8gnQD1QWDPglr3h IOPhczRgtphv6NdNBDjj __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">Invoice #1846325</h1>
        <time datetime="2025-07-05" class="y0nOgdpiqOUaFDbjAxwD PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">Date: 05/07/2025</time>
      </div>
      <!-- Payment Details -->
      <div class="YRrCJSr_j5nopfm4duUc _7_AEkSp_Gi6KH9ZW6st sJNGKHxFYdN5Nzml5J2j bhR_PkwU_R7UbU0M5yyi">
        <div class="T0eYh9WgcvObK_3xkzjf">
          <h2 class="_hpGev6RXFut0Jm_iRgf y0nOgdpiqOUaFDbjAxwD yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">Pay to:</h2>
          <address class="c8dCx6gnV43hTOLV6ks5 PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y OQO0pvIsbCyYk6BDU1eV">
            <span class="ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">Flowbite LLC,</span> LOUISVILLE, Selby 3864 Johnson Street, United States of America, <br>
            VAT Code: AA-1234567890
          </address>
        </div>
        <div class="T0eYh9WgcvObK_3xkzjf">
          <h2 class="_hpGev6RXFut0Jm_iRgf y0nOgdpiqOUaFDbjAxwD yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">Invoice to:</h2>
          <address class="c8dCx6gnV43hTOLV6ks5 PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y OQO0pvIsbCyYk6BDU1eV">
            <span class="ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">Bonnie Green,</span> Carolina, Selby 3864 Johnson Street, United States of America, <br>
            <span class="ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">name@company.com</span>
          </address>
        </div>
      </div>
      <!-- Table -->
      <div class="ahOqFrhzLjivRe8a1kX_ _IebywwKB6L2zG0BTy63">
        <table class="t6gkcSf0Bt4MLItXvDJ_ upQp7iWehfaU8VTbfx_w c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE gxbAzPB3iRmT83JhVstN">
          <thead class="jtAJHOc7mn7b4IKRO59D gMXmdpOPfqG_3CKkL0VD sdSaZcRa4_We5kKaX4pf PeR2JZ9BZHYIH8Ea3F36 jqg6J89cvxmDiFpnV56r XIIs8ZOri3wm8Wnj9N_y">
            <tr>
              <th scope="col" class="JGzJOGfW2x0VXm_3WgQB i8v96MUlFwGv9qJUkAx7 yM_AorRf2jSON3pDsdrz">Product name</th>
              <th scope="col" class="JGzJOGfW2x0VXm_3WgQB i8v96MUlFwGv9qJUkAx7 yM_AorRf2jSON3pDsdrz">Qty</th>
              <th scope="col" class="JGzJOGfW2x0VXm_3WgQB i8v96MUlFwGv9qJUkAx7 yM_AorRf2jSON3pDsdrz">Price</th>
              <th scope="col" class="JGzJOGfW2x0VXm_3WgQB i8v96MUlFwGv9qJUkAx7 yM_AorRf2jSON3pDsdrz">Discount</th>
              <th scope="col" class="teJsdPRAgAqY1eDjZYfV JGzJOGfW2x0VXm_3WgQB i8v96MUlFwGv9qJUkAx7 yM_AorRf2jSON3pDsdrz">Total price</th>
            </tr>
          </thead>
          <tbody>
            <tr class="EpUSgjHdM6oyMXUiK_8_ tu2pET5XXEFdLYbAVwZL _Ybd3WwuTVljUT4vEaM3 _fGhMnSfYmaGrv7DvZ00 _1jTZ8KXRZul60S6czNi">
              <th scope="row" class="mU8yQmXJPYHX95JD515m TVHgSaRh3muGJct_epr9 BHrWGjM1Iab_fAz0_91H JGzJOGfW2x0VXm_3WgQB ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
                <div class="d3C8uAdJKNl1jzfE9ynq">Flowbite Developer Edition</div>
                <div class="_43MO1gcdi2Y0RJW1uHL wgkxUJNDca22__ptDPRh PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">HTML, Figma, JS</div>
              </th>
              <td class="mU8yQmXJPYHX95JD515m JGzJOGfW2x0VXm_3WgQB">$269</td>
              <td class="mU8yQmXJPYHX95JD515m JGzJOGfW2x0VXm_3WgQB">2</td>
              <td class="mU8yQmXJPYHX95JD515m JGzJOGfW2x0VXm_3WgQB">50%</td>
              <td class="mU8yQmXJPYHX95JD515m JGzJOGfW2x0VXm_3WgQB">$269</td>
            </tr>
            <tr class="EpUSgjHdM6oyMXUiK_8_ tu2pET5XXEFdLYbAVwZL _Ybd3WwuTVljUT4vEaM3 _fGhMnSfYmaGrv7DvZ00 _1jTZ8KXRZul60S6czNi">
              <th scope="row" class="mU8yQmXJPYHX95JD515m TVHgSaRh3muGJct_epr9 BHrWGjM1Iab_fAz0_91H JGzJOGfW2x0VXm_3WgQB ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
                <div class="d3C8uAdJKNl1jzfE9ynq">Flowbite Designer Edition</div>
                <div class="_43MO1gcdi2Y0RJW1uHL wgkxUJNDca22__ptDPRh PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">Figma Design System</div>
              </th>
              <td class="mU8yQmXJPYHX95JD515m JGzJOGfW2x0VXm_3WgQB">$149</td>
              <td class="mU8yQmXJPYHX95JD515m JGzJOGfW2x0VXm_3WgQB">3</td>
              <td class="mU8yQmXJPYHX95JD515m JGzJOGfW2x0VXm_3WgQB">0%</td>
              <td class="mU8yQmXJPYHX95JD515m JGzJOGfW2x0VXm_3WgQB">$447</td>
            </tr>
            <tr class="EpUSgjHdM6oyMXUiK_8_ tu2pET5XXEFdLYbAVwZL _Ybd3WwuTVljUT4vEaM3 _fGhMnSfYmaGrv7DvZ00 _1jTZ8KXRZul60S6czNi">
              <th scope="row" class="mU8yQmXJPYHX95JD515m TVHgSaRh3muGJct_epr9 BHrWGjM1Iab_fAz0_91H JGzJOGfW2x0VXm_3WgQB ezMFUVl744lvw6ht0lFe">
                <div class="d3C8uAdJKNl1jzfE9ynq">Flowbite Open Source</div>
                <div class="_43MO1gcdi2Y0RJW1uHL wgkxUJNDca22__ptDPRh PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">Open source components</div>
              </th>
              <td class="mU8yQmXJPYHX95JD515m JGzJOGfW2x0VXm_3WgQB">$0</td>
              <td class="mU8yQmXJPYHX95JD515m JGzJOGfW2x0VXm_3WgQB">1</td>
              <td class="mU8yQmXJPYHX95JD515m JGzJOGfW2x0VXm_3WgQB">0%</td>
              <td class="mU8yQmXJPYHX95JD515m JGzJOGfW2x0VXm_3WgQB">$0</td>
            </tr>
            <tr class="EpUSgjHdM6oyMXUiK_8_ tu2pET5XXEFdLYbAVwZL _Ybd3WwuTVljUT4vEaM3 _fGhMnSfYmaGrv7DvZ00 _1jTZ8KXRZul60S6czNi">
              <th scope="row" class="mU8yQmXJPYHX95JD515m TVHgSaRh3muGJct_epr9 BHrWGjM1Iab_fAz0_91H JGzJOGfW2x0VXm_3WgQB ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
                <div class="d3C8uAdJKNl1jzfE9ynq">2 Years Support</div>
                <div class="_43MO1gcdi2Y0RJW1uHL wgkxUJNDca22__ptDPRh PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">Premium support</div>
              </th>
              <td class="mU8yQmXJPYHX95JD515m JGzJOGfW2x0VXm_3WgQB">$199</td>
              <td class="mU8yQmXJPYHX95JD515m JGzJOGfW2x0VXm_3WgQB">1</td>
              <td class="mU8yQmXJPYHX95JD515m JGzJOGfW2x0VXm_3WgQB">0%</td>
              <td class="mU8yQmXJPYHX95JD515m JGzJOGfW2x0VXm_3WgQB">$199</td>
            </tr>
            <tr class="EpUSgjHdM6oyMXUiK_8_ tu2pET5XXEFdLYbAVwZL _Ybd3WwuTVljUT4vEaM3 _fGhMnSfYmaGrv7DvZ00 _1jTZ8KXRZul60S6czNi">
              <th scope="row" class="mU8yQmXJPYHX95JD515m TVHgSaRh3muGJct_epr9 BHrWGjM1Iab_fAz0_91H JGzJOGfW2x0VXm_3WgQB ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
                <div class="d3C8uAdJKNl1jzfE9ynq">Flowbite Developer (Team License)</div>
                <div class="_43MO1gcdi2Y0RJW1uHL wgkxUJNDca22__ptDPRh PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">HTML, Figma, JS</div>
              </th>
              <td class="mU8yQmXJPYHX95JD515m JGzJOGfW2x0VXm_3WgQB">$799</td>
              <td class="mU8yQmXJPYHX95JD515m JGzJOGfW2x0VXm_3WgQB">2</td>
              <td class="mU8yQmXJPYHX95JD515m JGzJOGfW2x0VXm_3WgQB">0%</td>
              <td class="mU8yQmXJPYHX95JD515m JGzJOGfW2x0VXm_3WgQB">$1598</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="YsL6XDnbT7z_9LIvaZ7L XJih04pKHf8Cekga6Hj3 rOuRShD4QN0Q_pOi5u1S">
        <h3 class="yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">Order summary</h3>
        <ul class="XJih04pKHf8Cekga6Hj3 uv4ZnT9l0TZhdd_Ia_EC">
          <li class="TR_P65x9ie7j6uxFo_Cs YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 sJNGKHxFYdN5Nzml5J2j UiRKvjjl_rZRhuc5tGul">
            <p class="G4dLHP1O7x3gaD0_p7Kc _74lpPUMEtHf6F0_fjLe vfNYjqjYMlN1XskEucCt PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">Subtotal</p>
            <div class="ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">$320</div>
          </li>
          <li class="TR_P65x9ie7j6uxFo_Cs YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 sJNGKHxFYdN5Nzml5J2j UiRKvjjl_rZRhuc5tGul">
            <p class="G4dLHP1O7x3gaD0_p7Kc _74lpPUMEtHf6F0_fjLe vfNYjqjYMlN1XskEucCt PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">Tax</p>
            <div class="ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">$477</div>
          </li>
          <li class="hD0sTTDgbxakubcHVW2X YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 sJNGKHxFYdN5Nzml5J2j UiRKvjjl_rZRhuc5tGul">
            <p class="G4dLHP1O7x3gaD0_p7Kc _74lpPUMEtHf6F0_fjLe vfNYjqjYMlN1XskEucCt PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">Shipping estimate</p>
            <div class="ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">$0</div>
          </li>
          <li class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 sJNGKHxFYdN5Nzml5J2j y0nOgdpiqOUaFDbjAxwD IOPhczRgtphv6NdNBDjj __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE UiRKvjjl_rZRhuc5tGul">
            <p class="G4dLHP1O7x3gaD0_p7Kc _74lpPUMEtHf6F0_fjLe vfNYjqjYMlN1XskEucCt">Order total</p>
            <div>$2990</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="_rqdzTLZuOhGujxvI_Bb _jfgMn_LxO_j6nNQTfnH">
    <div class="ahOqFrhzLjivRe8a1kX_ uLPch_bqyJDXwe5tynMV UYOSZJ1_pv3B5nt1ujCP mveJTCIb2WII7J4sY22F _Ybd3WwuTVljUT4vEaM3 _wYiJGbRZyFZeCc8y7Sf mngKhi_Rv06PF57lblDI _1jTZ8KXRZul60S6czNi CH8t8DqOvljTiy3xWnXb LSIxp7RSuOKhsg28v_u3">
      <!-- Alert -->
      <div class="hD0sTTDgbxakubcHVW2X YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 mveJTCIb2WII7J4sY22F _tepP3DhMXaKjsjDMaF6 _wYiJGbRZyFZeCc8y7Sf d3C8uAdJKNl1jzfE9ynq ezMFUVl744lvw6ht0lFe UptwuMAvsdRjvAaYNP6r jqg6J89cvxmDiFpnV56r nsxYwRasy6VBGnh2oIHS" role="alert">
        <svg class="_6aYwdjzDCvXK0bVJQOb oPlV3cK5HfQEd_TT8sK9 _o2IXcpM0qnG3JPReKus E9GV5sZJIbfO_GEQ_moc VQS2tmQ_zFyBOC2tkmto" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"></path>
        </svg>
        <span class="_DVAfiyo21kM68EUVzEQ">Info</span>
        <div>Invoice paid</div>
      </div>
      <h2 class="y0nOgdpiqOUaFDbjAxwD PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">Details:</h2>
      <!-- Price & Input -->
      <div class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 sJNGKHxFYdN5Nzml5J2j EpUSgjHdM6oyMXUiK_8_ pVSXSlnJdgskzP7BxPBe tu2pET5XXEFdLYbAVwZL _9igzqn_6D3Qq5Hcwkfk _fGhMnSfYmaGrv7DvZ00">
        <h3 class="vyo_A8gnQD1QWDPglr3h IOPhczRgtphv6NdNBDjj __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">$2,999</h3>
        <label class="_DVAfiyo21kM68EUVzEQ" for="payment-option">Select an option</label>
        <select id="payment-option" class="_Vb9igHms0hI1PQcvp_S fScvmu_bLBCkoXb3Xml3 mveJTCIb2WII7J4sY22F pXhVRBC8yaUNllmIWxln vpDN1VEJLu5FmLkr5WCk jtAJHOc7mn7b4IKRO59D olxDi3yL6f0gpdsOFDhx c8dCx6gnV43hTOLV6ks5 __9sbu0yrzdhGIkLWNXl LceKfSImrGKQrtDGkpBV GdTcGtoKP5_bET3syLDl Mmx5lX7HVdrWCgh3EpTP jqg6J89cvxmDiFpnV56r OyABRrnTV_kvHV7dJ0uE H7KQDhgKsqZaTUouEUQL q6szSHqGtBufkToFe_s5 KpCMWe32PQyrSFbZVput">
          <option selected="">Paid</option>
          <option value="PA">Unpaid</option>
          <option value="UN">Pending</option>
          <option value="OV">Overdue</option>
        </select>
      </div>
      <!-- List -->
      <ul class="uv4ZnT9l0TZhdd_Ia_EC CwXVND2g9gxPqIRZo0RR UYOSZJ1_pv3B5nt1ujCP EpUSgjHdM6oyMXUiK_8_ tu2pET5XXEFdLYbAVwZL pjVv_HvtzX_QkbymyvoG PeR2JZ9BZHYIH8Ea3F36 _fGhMnSfYmaGrv7DvZ00 XIIs8ZOri3wm8Wnj9N_y _qELbPoH7h3PHo6d1UFn">
        <li class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2">
          <svg class="_6aYwdjzDCvXK0bVJQOb rxe6apEJoEk8r75xaVNG ADSeKHR1DvUUA48Chci_" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M5 8a4 4 0 1 1 7.8 1.3l-2.5 2.5A4 4 0 0 1 5 8Zm4 5H7a4 4 0 0 0-4 4v1c0 1.1.9 2 2 2h2.2a3 3 0 0 1-.1-1.6l.6-3.4a3 3 0 0 1 .9-1.5L9 13Zm9-5a3 3 0 0 0-2 .9l-6 6a1 1 0 0 0-.3.5L9 18.8a1 1 0 0 0 1.2 1.2l3.4-.7c.2 0 .3-.1.5-.3l6-6a3 3 0 0 0-2-5Z" clip-rule="evenodd"></path>
          </svg>
          <span class="_6aYwdjzDCvXK0bVJQOb ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">Created by:</span> Jese Leos
        </li>
        <li class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2">
          <svg class="_6aYwdjzDCvXK0bVJQOb rxe6apEJoEk8r75xaVNG ADSeKHR1DvUUA48Chci_" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M6 5V4a1 1 0 1 1 2 0v1h3V4a1 1 0 1 1 2 0v1h3V4a1 1 0 1 1 2 0v1h1a2 2 0 0 1 2 2v2H3V7c0-1.1.9-2 2-2h1ZM3 19v-8h18v8a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6-7H7v2h2v-2Zm2 0h2v2h-2v-2Zm6 0h-2v2h2v-2ZM7 16h2v2H7v-2Zm6 0h-2v2h2v-2Zm2 0h2v2h-2v-2Z" clip-rule="evenodd"></path>
          </svg>
          <span class="_6aYwdjzDCvXK0bVJQOb ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">Due date:</span> 08 July 2025
        </li>
        <li class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2">
          <svg class="_6aYwdjzDCvXK0bVJQOb rxe6apEJoEk8r75xaVNG ADSeKHR1DvUUA48Chci_" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M4 5a2 2 0 0 0-2 2v10c0 1.1.9 2 2 2h16a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2H4Zm0 6h16v6H4v-6Z" clip-rule="evenodd"></path>
            <path fill-rule="evenodd" d="M5 14c0-.6.4-1 1-1h2a1 1 0 1 1 0 2H6a1 1 0 0 1-1-1Zm5 0c0-.6.4-1 1-1h5a1 1 0 1 1 0 2h-5a1 1 0 0 1-1-1Z" clip-rule="evenodd"></path>
          </svg>
          Pay by Bank Transfer
        </li>
        <li class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2">
          <svg class="_6aYwdjzDCvXK0bVJQOb rxe6apEJoEk8r75xaVNG ADSeKHR1DvUUA48Chci_" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M7 6c0-1.1.9-2 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2h-2v-4a3 3 0 0 0-3-3H7V6Z" clip-rule="evenodd"></path>
            <path fill-rule="evenodd" d="M2 11c0-1.1.9-2 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-7Zm7.5 1a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5Z" clip-rule="evenodd"></path>
            <path d="M10.5 14.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"></path>
          </svg>
          <span class="_6aYwdjzDCvXK0bVJQOb ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">Currency:</span> American Dollar
        </li>
      </ul>
      <!-- Timeline -->
      <ol class="ahOqFrhzLjivRe8a1kX_ KLo3NZfrGYYPkMcjEWNN QBWEY00a2PtzUHdDdBah qUWbS_LTZujDB4XCd11V _fGhMnSfYmaGrv7DvZ00">
        <li class="hD0sTTDgbxakubcHVW2X FTz1pF_6yJWXDK12XvUi">
          <span class="pq2JRWtiWcwYnw3xueNl rWdZsfkQ8xckQr70rPrD YRrCJSr_j5nopfm4duUc MnxxlQlR1H0xJuMEE8Yr YIUegm7fh_CpJbivTu6B Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU RpVwy4sO7Asb86CncKJ_ _Ybd3WwuTVljUT4vEaM3 _1jTZ8KXRZul60S6czNi">
            <svg class="rxe6apEJoEk8r75xaVNG ADSeKHR1DvUUA48Chci_ _slPOgYG58UZfxi9teaV" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm13.7-1.3a1 1 0 0 0-1.4-1.4L11 12.6l-1.8-1.8a1 1 0 0 0-1.4 1.4l2.5 2.5c.4.4 1 .4 1.4 0l4-4Z" clip-rule="evenodd"></path>
            </svg>
          </span>
          <div class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 sJNGKHxFYdN5Nzml5J2j">
            <h4 class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">Invoice created:</h4>
            <time datetime="2025-07-05" class="PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">05/07/2025</time>
          </div>
        </li>
        <li class="hD0sTTDgbxakubcHVW2X FTz1pF_6yJWXDK12XvUi">
          <span class="pq2JRWtiWcwYnw3xueNl rWdZsfkQ8xckQr70rPrD YRrCJSr_j5nopfm4duUc MnxxlQlR1H0xJuMEE8Yr YIUegm7fh_CpJbivTu6B Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU RpVwy4sO7Asb86CncKJ_ _Ybd3WwuTVljUT4vEaM3 _1jTZ8KXRZul60S6czNi">
            <svg class="rxe6apEJoEk8r75xaVNG ADSeKHR1DvUUA48Chci_ _slPOgYG58UZfxi9teaV" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm13.7-1.3a1 1 0 0 0-1.4-1.4L11 12.6l-1.8-1.8a1 1 0 0 0-1.4 1.4l2.5 2.5c.4.4 1 .4 1.4 0l4-4Z" clip-rule="evenodd"></path>
            </svg>
          </span>
          <div class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 sJNGKHxFYdN5Nzml5J2j">
            <h4 class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">Invoice sent:</h4>
            <time datetime="2025-07-05" class="PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">06/07/2025</time>
          </div>
        </li>
        <li class="FTz1pF_6yJWXDK12XvUi">
          <span class="pq2JRWtiWcwYnw3xueNl rWdZsfkQ8xckQr70rPrD YRrCJSr_j5nopfm4duUc MnxxlQlR1H0xJuMEE8Yr YIUegm7fh_CpJbivTu6B Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU RpVwy4sO7Asb86CncKJ_ _Ybd3WwuTVljUT4vEaM3 _1jTZ8KXRZul60S6czNi">
            <svg class="rxe6apEJoEk8r75xaVNG ADSeKHR1DvUUA48Chci_ _JmTNv5EiHqK2A1jcQSf qIT6vrYn0Fr1U3wlPXaS" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm13.7-1.3a1 1 0 0 0-1.4-1.4L11 12.6l-1.8-1.8a1 1 0 0 0-1.4 1.4l2.5 2.5c.4.4 1 .4 1.4 0l4-4Z" clip-rule="evenodd"></path>
            </svg>
          </span>
          <div class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 sJNGKHxFYdN5Nzml5J2j">
            <h4 class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">Invoice paid:</h4>
            <time datetime="2025-07-05" class="PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">08/07/2025</time>
          </div>
        </li>
      </ol>
      <!-- Bottom Alert -->
      <div id="alert-update-2" class="Wb7_kpRwKZR5nS8FSfqY i4fFdobhLL5FG4wZmW68 fs_GLAwVDTEB8Ztn8now _QV5Y5YHkBJZSFfAsN1O mveJTCIb2WII7J4sY22F jtAJHOc7mn7b4IKRO59D _wYiJGbRZyFZeCc8y7Sf jqg6J89cvxmDiFpnV56r tzLGYIx8NV8Knh_wt12u" role="alert">
        <div class="_hpGev6RXFut0Jm_iRgf YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 sJNGKHxFYdN5Nzml5J2j">
          <span class="fhCwost7CSNRc2WSHLFW Y3FxyuXtj2gecrGXvLEI WwS1mve_UI16RedcVHEs St_AVDyTHE88JaawJoRQ Zs2BLzUMh0_yTpU6xCcU gMXmdpOPfqG_3CKkL0VD ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl yVD6UHmZ_BcStq0KYFeK OyABRrnTV_kvHV7dJ0uE">Version 2.0</span>
          <button type="button" class="_k0lTW0vvzboctTxDi2R MnxxlQlR1H0xJuMEE8Yr YIUegm7fh_CpJbivTu6B mveJTCIb2WII7J4sY22F _9dH7mrOkzM4RTmidHTs sQaK4IH7BIQSgBTGX8Pe PeR2JZ9BZHYIH8Ea3F36 lBgPGkku8NiP5ReH09_2 _q0p_O8QLU1paqtuqmI2 XGQIxPVjm_m7D0aLHB7Y jqg6J89cvxmDiFpnV56r XIIs8ZOri3wm8Wnj9N_y RzANcaqunVvlLrO6_tal dMTOiA3mf3FTjlHu6DqW" data-dismiss-target="#alert-update-2" aria-label="Close">
            <span class="_DVAfiyo21kM68EUVzEQ">Dismiss</span>
            <svg aria-hidden="true" class="_o2IXcpM0qnG3JPReKus E9GV5sZJIbfO_GEQ_moc" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
        <div class="_hpGev6RXFut0Jm_iRgf c8dCx6gnV43hTOLV6ks5 PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">Get paid 3x faster with our PRO plan for online payments!</div>
        <a href="#" class="c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe OQflBVxALl1Ntbyc2J2_ W_sCP6_PDfz0Lqf875WU _JuCjEvnRAY7i_IOYa7l fZf6W_ZtzEh6EEqmWMA9"> Upgrade now for free </a>
      </div>
    </div>
  </div>
</div>
    <!-- End of new HTML -->

    <div class="container mx-auto mt-4">
        {% block content %}
        {% endblock content %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>

</html>