{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load formsetify %}
{% render_form form "bootstrap" %}
{%  load status_ordem %}
{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Inline Charts</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Inline Charts</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-bullhorn"></i>
                                    Callouts
                                </h3>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card-body">
                                        <div class="callout callout-info">
                                            <h5>{{ object.cliente }}</h5>
                                            <p>{{ object.cliente.documento }}</p>
                                            <p>{{ object.cliente.telefone }}</p>
                                            <p>{{ object.cliente.email }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-body">
                                        <div class="callout callout-info">
                                            <h5>Abertura: {{ object.created }}</h5>
                                            <p>Fechamento: {{ bject.fim_execucao|default:"Ordem Aberta" }}</p>
                                            <p>Prioridade: {{ object.prioridade|ordem_prioridade|safe }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-body">
                                        <div class="callout callout-info">
                                            <h5>{{ object.codigo|default:"Sem Código cadastrado " }}</h5>
                                            <p>Inicio: {{ object.inicio_execucao }}</p>
                                            <p>Tempo Tempo Serviço: {{ object.tempo_servico }}</p>
                                            <p>Tempo Total: {{ object.tempo_total }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-body">
                                        <div class="callout callout-info">
                                            <h5>Valor Total: {{ object.total|default:"0,00" }}</h5>
                                            <p>Valor Equipamentos: {{ object.total_equipamentos|default:"0,00" }}</p>
                                            <p>Fim: {{ object.fim_execucao }}</p>
                                            <p>Tempo Tempo Serviço: {{ object.tempo_servico }}</p>
                                            <p>Tempo Total: {{ object.tempo_total }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- Envios -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- Application buttons -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Ações</h3>
                            </div>
                            <div class="card-body">
                                <a class="btn btn-app bg-secondary">

                                    <i class="fas fa-barcode"></i> PDF
                                </a>
                                <a class="btn btn-app bg-success">
                                    <i class="fas fa-users"></i> Whatsapp
                                </a>
                                <a class="btn btn-app bg-danger">

                                    <i class="fas fa-inbox"></i> Email
                                </a>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
                <!-- Form -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- Application buttons -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Atualizar</h3>
                            </div>
                            <div class="card-body">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.media}}
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>{{ form.prioridade.label }}</label>
                                                {% render_field form.prioridade class="form-control select2bs4" %}
                                            </div>
                                        </div>
                                         <div class="col-sm-4">
                                            <label>{{ form.solicitante.label }}</label>
                                            {% render_field form.solicitante class="form-control" %}
                                        </div>
                                         <div class="col-sm-4">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>{{ form.responsavel.label }}</label>
                                                {% render_field form.responsavel class="form-control select2bs4" %}
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
                                            {% for error in form.non_field_errors %}
                                                {{ error }}
                                            {% endfor %}

                                        </div>
                                        <div class="col-sm-3">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>{{ form.cliente.label }}</label>
                                                {% render_field form.cliente class="form-control select2bs4" %}
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>{{ form.inicio_execucao.label }}</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                    </div>
                                                    {% render_field form.inicio_execucao class="form-control" %}
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>{{ form.fim_execucao.label }}</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                    </div>
                                                    {% render_field form.fim_execucao class="form-control" %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <!-- text input -->
                                            <div class="form-group">
                                                
                                                {% render_field form.descricao class="form-control" %}
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <!-- text input -->
                                            <div class="form-group">
                                              
                                                {% render_field form.resolucao class="form-control" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Salvar</button>
                                    </div>
                                </form>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}