{% extends 'base/base.html' %}

{% block title %}mod64bits-produtos{% endblock title %}

{% block content %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-default">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <!-- Create book button -->

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Produtos</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Produtos</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-sm-2">

                                        <a href="{% url 'produtos:novo_produto' %}" class="btn btn-primary btn-block"><i class="fa fa-plus-circle"></i> Novo</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>fabricante</th>
                                        <th>Codigo</th>
                                        <th>Categoria</th>
                                        <th>Fornecedor</th>
                                        <th>Preço de Compra</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for produto in object_list %}
                                        <tr>
                                            <td><a href="{% url 'produtos:editar_produto' produto.id %}">{{ produto.nome }}</a></td>
                                            <td>{{ produto.fabricante }}</td>
                                            <td>{{ produto.codigo }}</td>
                                            <td>{{ produto.categoria }}</td>
                                            <td>{{ produto.fornecedor }}</td>
                                            <td>{{ produto.preco_compra }}</td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                       <th>Nome</th>
                                        <th>Codigo</th>
                                        <th>fabricante</th>
                                        <th>Categoria</th>
                                        <th>Fornecedor</th>
                                        <th>Preço de Compra</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print"],
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.2/i18n/pt-BR.json'
                },
                scrollY: '50vh',
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
{% endblock scripts %}
