{% extends 'base/base.html' %}
{% load static %}

{% block css %}

  <!-- Theme style -->

{% endblock css %}


{% block content %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-default">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>



    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>DataTables</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Clientes</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <button id="novo-cliente" type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-default"><i class="fa fa-bell"></i>  Adcionar Cliente</button>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Documento</th>
                    <th>Email</th>
                    <th>telefone</th>
                    <th>Ação</th>
                  </tr>
                  </thead>
                  <tbody>

                  {% for cliente in object_list %}
                      <tr>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.tipo }}</td>
                    <td>{{ cliente.documento }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.telefone }}</td>
                    <td>
                        <div class="btn-group">
                   <button type="button" class="update-cliente btn btn-sm btn-primary" data-form-url="{% url 'clientes:editar_cliente' cliente.pk %}">
                    <span class="fas fa-pencil-alt"></span>
                </button>
                  </div>
                    </td>
                  </tr>
                  {% endfor %}

                  </tbody>
                  <tfoot>
                  <tr>
                   <th>Nome</th>
                    <th>Tipo</th>
                    <th>Documento</th>
                    <th>Email</th>
                    <th>telefone</th>
                    <th>Ação</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock content %}


{% block scripts %}




    <script>
     $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print"],
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.2/i18n/pt-BR.json'
                },
                scrollY: '50vh',
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
</script>

<script type="text/javascript">
$(document).ready(function() {
    $("#novo-cliente").modalForm({
        formURL: "{% url 'clientes:novo_cliente' %}",
         modalID: "#modal-default"
    });





            function updateClienteModalForm() {
            $(".update-cliente").each(function () {
              $(this).modalForm({
                formURL: $(this).data("form-url"),
                asyncUpdate: false,
                modalID: "#modal-default",
              });
            });
          }
          updateClienteModalForm();

        function reinstantiateModalForms() {

        updateClienteModalForm();

      }


});
    </script>

{% endblock scripts %}
